{% extends "default/default.html" %}
{% load static %}

<!-- BEGIN: Vendor CSS-->
{% block VendorCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/vendors.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/editors/quill/katex.min.css' %}">
<link rel="stylesheet" type="text/css"
    href="{% static 'app-assets/vendors/css/editors/quill/monokai-sublime.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/editors/quill/quill.snow.css' %}">
{% endblock %}
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
{% block ThemeCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap-extended.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/colors-syndique.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/components-syndique.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/dark-layout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/semi-dark-layout.css' %}">
{% endblock %}
<!-- END: Theme CSS-->
<!-- BEGIN: Page CSS-->
{% block PageCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/menu/menu-types/vertical-menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/colors/palette-gradient.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/app-email.css' %}">
{% endblock %}
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
{% block CustomCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
{% endblock %}
<!-- END: Custom CSS-->


<!-- BEGIN: Main Menu-->
{% block MainMenu %}
{% include "manager/components/MainMenu.html" %}
{% endblock %}
<!-- END: Main Menu-->
{% block attBody %}
class="vertical-layout vertical-menu-modern content-left-sidebar email-application navbar-floating footer-static "
data-open="click" data-menu="vertical-menu-modern" data-col="content-left-sidebar"
{% endblock %}
<!-- BEGIN: Content-->
{% block Content %}
<div class="app-content content">

    <!-- BEGIN: Header-->
    {% include "manager/components/Header.html" %}
    <!-- END: Header-->
    {% if messages %}
    <div class="content-wrapper">
        <div class="content-body">
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        </div>
    </div>
    {% endif %}
    <div class="content-area-wrapper">


        <div class="sidebar-left">
            <div class="sidebar">
                <div class="sidebar-content email-app-sidebar d-flex">
                    <span class="sidebar-close-icon">
                        <i class="feather icon-x"></i>
                    </span>
                    <div class="email-app-menu">
                        <div class="form-group form-group-compose text-center compose-btn">
                            <button type="button" class="btn btn-primary btn-lg btn-block my-2" data-toggle="modal"
                                data-target="#composeForm"><i class="feather icon-edit"></i> Rédiger</button>
                        </div>
                        <div class="sidebar-menu-list">
                            <div class="list-group list-group-messages font-medium-1">
                                <a href="#" class="list-group-item list-group-item-action border-0 pt-0 active">
                                    <i class="font-medium-5 feather icon-mail mr-50"></i>Boîte de réception <span
                                        class="badge badge-primary badge-pill float-right">3</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action border-0"><i
                                        class="font-medium-5 fa fa-paper-plane-o mr-50"></i>Messages envoyés</a>


                                <a href="#" class="list-group-item list-group-item-action border-0"><i
                                        class="font-medium-5 feather icon-trash mr-50"></i>
                                    Corbeille</a>
                            </div>
                            <hr>
                            <h5 class="my-2 pt-25">Labels</h5>
                            <div class="list-group list-group-labels font-medium-1">
                                <a href="#"
                                    class="list-group-item list-group-item-action border-0 d-flex align-items-center"><span
                                        class="bullet bullet-success mr-1"></span> Résidance</a>
                                <a href="#"
                                    class="list-group-item list-group-item-action border-0 d-flex align-items-center"><span
                                        class="bullet bullet-primary mr-1"></span> Association</a>
                                <a href="#"
                                    class="list-group-item list-group-item-action border-0 d-flex align-items-center"><span
                                        class="bullet bullet-warning mr-1"></span> Important</a>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade text-left" id="composeForm" tabindex="-1" role="dialog"
                    aria-labelledby="emailCompose" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <form action="{% url 'syndique:email' %}" method="POST">
                            {% csrf_token %}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title text-text-bold-600" id="emailCompose">Nouveau message</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body pt-1">

                                    <div class="form-label-group mt-1">
                                        <select name="id_user" class="custom-select" id="emailTo">
                                            <option value="0" selected>To</option>
                                            {% for user in usagers %}
                                            <option value="{{user.id}}">{{user.email}}</option>
                                            {% endfor %}
                                        </select>
                                        <label>To</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" id="emailSubject" class="form-control" placeholder="Subject"
                                            name="Subject">
                                        <label for="emailSubject">Subject</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" id="emailCC" class="form-control" placeholder="CC" name="CC">
                                        <label for="emailCC">CC</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" id="emailBCC" class="form-control" placeholder="BCC" name="">
                                        <label for="emailBCC">BCC</label>
                                    </div>
                                    <div id="email-container">
                                        <textarea class="editor" data-placeholder="Message" name="message" rows="5"
                                            cols="50">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" value="Send" class="btn btn-primary">
                                    <input type="Reset" value="Cancel" class="btn btn-white" data-dismiss="modal">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <div class="content-right">
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <div class="app-content-overlay"></div>

                    <div class="email-app-area">
                        <!-- Email list Area -->
                        <div class="email-app-list-wrapper">
                            <div class="email-app-list">
                                <div class="app-fixed-search">
                                    <div class="sidebar-toggle d-block d-lg-none"><i class="feather icon-menu"></i>
                                    </div>
                                    <fieldset class="form-group position-relative has-icon-left m-0">
                                        <input type="text" class="form-control" id="email-search"
                                            placeholder="Recherche email">
                                        <div class="form-control-position">
                                            <i class="feather icon-search"></i>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="app-action">
                                    <div class="action-left">
                                        <div class="vs-checkbox-con selectAll">
                                            <input type="checkbox">
                                            <span class="vs-checkbox">
                                                <span class="vs-checkbox--check">
                                                    <i class="vs-icon feather icon-minus"></i>
                                                </span>
                                            </span>
                                            <span>Select Tout</span>
                                        </div>
                                    </div>
                                    <div class="action-right">
                                        <ul class="list-inline m-0">
                                            <li class="list-inline-item">
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle" id="folder"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class="feather icon-folder"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                        aria-labelledby="folder">
                                                        <a class="dropdown-item d-flex font-medium-1" href="#"><i
                                                                class="font-medium-3 feather icon-edit-2 mr-50"></i>
                                                            Draft</a>
                                                        <a class="dropdown-item d-flex font-medium-1" href="#"><i
                                                                class="font-medium-3 feather icon-info mr-50"></i>
                                                            Spam</a>
                                                        <a class="dropdown-item d-flex font-medium-1" href="#"><i
                                                                class="font-medium-3 feather icon-trash mr-50"></i>
                                                            Trash</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-inline-item">
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle" id="tag" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-tag"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                        aria-labelledby="tag">
                                                        <a href="#" class="dropdown-item font-medium-1"><span
                                                                class="mr-1 bullet bullet-success bullet-sm"></span>
                                                            Personal</a>
                                                        <a href="#" class="dropdown-item font-medium-1"><span
                                                                class="mr-1 bullet bullet-primary bullet-sm"></span>
                                                            Company</a>
                                                        <a href="#" class="dropdown-item font-medium-1"><span
                                                                class="mr-1 bullet bullet-warning bullet-sm"></span>
                                                            Important</a>
                                                        <a href="#" class="dropdown-item font-medium-1"><span
                                                                class="mr-1 bullet bullet-danger bullet-sm"></span>
                                                            Private</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-inline-item mail-unread"><span class="action-icon"><i
                                                        class="feather icon-mail"></i></span></li>
                                            <li class="list-inline-item mail-delete"><span class="action-icon"><i
                                                        class="feather icon-trash"></i></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="email-user-list list-group">
                                    <ul class="users-list-wrapper media-list">
                                        {% for email in emails %}
                                        <li class="media mail-read">
                                            <div class="media-left pr-50">
                                                <div class="user-action">
                                                    <div class="vs-checkbox-con">
                                                        <input type="checkbox">
                                                        <span class="vs-checkbox vs-checkbox-sm">
                                                            <span class="vs-checkbox--check">
                                                                <i class="vs-icon feather icon-check"></i>
                                                            </span>
                                                        </span>
                                                    </div>
                                                    <span class="favorite"><i class="feather icon-star"></i></span>
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <div class="user-details">
                                                    <div class="mail-items">
                                                        <h5 class="list-group-item-heading text-bold-600 mb-25">
                                                            {{email.emails.To.first_name}} {{email.emails.To.last_name}}
                                                        </h5>
                                                        <span
                                                            class="list-group-item-text text-truncate">{{email.emails.subject}}</span>
                                                    </div>
                                                    <div class="mail-meta-item">
                                                        <span class="float-right">
                                                            <span
                                                                class="mr-1 bullet bullet-success bullet-sm"></span><span
                                                                class="mail-date">{{email.emails.create_at}}</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="mail-message">
                                                    <p class="list-group-item-text truncate mb-0">
                                                        {{email.emails.message}}</p>
                                                </div>
                                            </div>
                                        </li>

                                        {% endfor %}

                                    </ul>
                                    <div class="no-results">
                                        <h5>No Items Found</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Email list Area -->
                        <!-- Detailed Email View -->
                        <div class="email-app-details">
                            <div class="email-detail-header">
                                <div class="email-header-left d-flex align-items-center mb-1">
                                    <span class="go-back mr-1"><i
                                            class="feather icon-arrow-left font-medium-4"></i></span>
                                    <h3>Focused impactful open system 📷 😃</h3>
                                </div>
                                <div class="email-header-right mb-1 ml-2 pl-1">
                                    <ul class="list-inline m-0">
                                        {% comment %} <li class="list-inline-item"><span class="action-icon favorite"><i
                                                    class="feather icon-star font-medium-5"></i></span></li>
                                        <li class="list-inline-item">
                                            <div class="dropdown no-arrow">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <i class="feather icon-folder font-medium-5"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="folder">
                                                    <a class="dropdown-item d-flex font-medium-1" href="#"><i
                                                            class="font-medium-3 feather icon-edit-2 mr-50"></i>
                                                        Draft</a>
                                                    <a class="dropdown-item d-flex font-medium-1" href="#"><i
                                                            class="font-medium-3 feather icon-info mr-50"></i> Spam</a>
                                                    <a class="dropdown-item d-flex font-medium-1" href="#"><i
                                                            class="font-medium-3 feather icon-trash mr-50"></i>
                                                        Trash</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="dropdown no-arrow">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <i class="feather icon-tag font-medium-5"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tag">
                                                    <a href="#" class="dropdown-item font-medium-1"><span
                                                            class="mr-1 bullet bullet-success bullet-sm"></span>
                                                        Personal</a>
                                                    <a href="#" class="dropdown-item font-medium-1"><span
                                                            class="mr-1 bullet bullet-primary bullet-sm"></span>
                                                        Company</a>
                                                    <a href="#" class="dropdown-item font-medium-1"><span
                                                            class="mr-1 bullet bullet-warning bullet-sm"></span>
                                                        Important</a>
                                                    <a href="#" class="dropdown-item font-medium-1"><span
                                                            class="mr-1 bullet bullet-danger bullet-sm"></span>
                                                        Private</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-inline-item"><span class="action-icon"><i
                                                    class="feather icon-mail font-medium-5"></i></span></li>
                                        <li class="list-inline-item"><span class="action-icon"><i
                                                    class="feather icon-trash font-medium-5"></i></span></li>
                                        <li class="list-inline-item email-prev"><span class="action-icon"><i
                                                    class="feather icon-chevrons-left font-medium-5"></i></span></li>
                                        <li class="list-inline-item email-next"><span class="action-icon"><i
                                                    class="feather icon-chevrons-right font-medium-5"></i></span></li>
                                        {% endcomment %}
                                    </ul>
                                </div>
                            </div>
                            <div class="email-scroll-area">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="email-label ml-2 my-2 pl-1">
                                            <span class="mr-1 bullet bullet-primary bullet-sm"></span><small
                                                class="mail-label">Company</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card px-1">
                                            <div class="card-header email-detail-head ml-75">
                                                <div
                                                    class="user-details d-flex justify-content-between align-items-center flex-wrap">

                                                    <div class="mail-items">
                                                        <h4 class="list-group-item-heading mb-0">Ardis Balderson</h4>
                                                        <div class="email-info-dropup dropdown">
                                                            <span class="dropdown-toggle font-small-3"
                                                                id="dropdownMenuButton200" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                                abaldersong@utexas.edu
                                                            </span>
                                                            <div class="dropdown-menu dropdown-menu-right p-50"
                                                                aria-labelledby="dropdownMenuButton200">
                                                                <div class="px-25 dropdown-item">From: <strong>
                                                                        abaldersong@utexas.edu </strong></div>
                                                                <div class="px-25 dropdown-item">To: <strong>
                                                                        johndoe@ow.ly </strong></div>
                                                                <div class="px-25 dropdown-item">Date: <strong> 4:25 AM
                                                                        13 Jan 2018 </strong></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mail-meta-item">
                                                    <div class="mail-time mb-1">4:14 AM</div>
                                                    <div class="mail-date">17 May 2018</div>
                                                </div>
                                            </div>
                                            <div class="card-body mail-message-wrapper pt-2 mb-0">
                                                <div class="mail-message">
                                                    <p>Hey John,</p>
                                                    <p>bah kivu decrete epanorthotic unnotched Argyroneta nonius
                                                        veratrine preimaginary saunders demidolmen Chaldaic allusiveness
                                                        lorriker unworshipping ribaldish tableman hendiadys outwrest
                                                        unendeavored fulfillment scientifical Pianokoto Chelonia</p>
                                                    <p>Freudian sperate unchary hyperneurotic phlogiston duodecahedron
                                                        unflown Paguridea catena disrelishable Stygian paleopsychology
                                                        cantoris phosphoritic disconcord fruited inblow somewhatly
                                                        ilioperoneal forrard palfrey Satyrinae outfreeman melebiose</p>
                                                </div>
                                                <div class="mail-attachements d-flex">
                                                    <i class="feather icon-paperclip font-medium-5 mr-50"></i>
                                                    <span>Attachments</span>
                                                </div>
                                            </div>
                                            <div class="mail-files py-2">
                                                <div class="chip chip-primary">
                                                    <div class="chip-body py-50">
                                                        <span class="chip-text">interdum.docx</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Detailed Email View -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- END: Content-->



<!-- BEGIN: Vendor JS-->
{% block VendorJS %}
<script src="{% static 'app-assets/vendors/js/vendors.min.js' %}"></script>
{% endblock %}
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
{% block PageVendorJS %}
<script src="{% static 'app-assets/vendors/js/editors/quill/katex.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/editors/quill/highlight.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/editors/quill/quill.min.js' %}"></script>
{% endblock %}
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
{% block ThemeJS %}
<script src="{% static 'app-assets/js/core/app-menu.js' %}"></script>
<script src="{% static 'app-assets/js/core/app.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/components.js' %}"></script>
{% endblock %}
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
{% block PageJS %}
<script src="{% static 'app-assets/js/scripts/pages/app-email.js' %}"></script>
{% endblock %}


<!-- END: Page JS-->