{% extends "default/default.html" %}
{% load static %}

<!-- BEGIN: Vendor CSS-->
{% block VendorCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/vendors.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/charts/apexcharts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/extensions/tether-theme-arrows.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/extensions/tether.min.css' %}">
<link rel="stylesheet" type="text/css"
    href="{% static 'app-assets/vendors/css/extensions/shepherd-theme-default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/extensions/dragula.min.css' %}">
{% endblock %}
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
{% block ThemeCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap-extended.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/colors-manager.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/components-manager.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/dark-layout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/semi-dark-layout.css' %}">
{% endblock %}
<!-- END: Theme CSS-->
<!-- BEGIN: Page CSS-->
{% block PageCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/menu/menu-types/vertical-menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/colors/palette-gradient.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/dashboard-analytics.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/card-analytics.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/tour/tour-manager.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/extensions/drag-and-drop.css' %}">
{% endblock %}
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
{% block CustomCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
{% endblock %}
<!-- END: Custom CSS-->


<!-- BEGIN: Main Menu-->
{% block MainMenu %}
{% include "manager/components/MainMenu.html" %}
{% endblock %}
<!-- END: Main Menu-->
{% block attBody %}
class="vertical-layout vertical-menu-modern 2-columns  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns"
{% endblock %}
<!-- BEGIN: Content-->
{% block Content %}
<div class="app-content content">
    {% include "manager/components/Header.html" %}
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- Dashboard Analytics Start -->
            <section id="dashboard-analytics">
                
                <div class="row match-height">
                    
                    <div class="col-lg-12 col-12">
                        <h1>Information sur les Syndiques</h1>
                        <p>Detail sur les utilisateurs syndique de votre plateform</p>
                        <section id="draggable-cards">
                            <div class="row" id="card-drag-area">
                                {% for syndique in syndiques %}
                                <div class="col-xl-6 col-md-6 col-sm-12">
                                    <div class="card">
                                        <div class="card-header">

                                            <img src="{% static 'man.svg' %}"
                                                alt="un triangle aux trois côtés égaux" height="50px" width="50px" />
                                            <h4 class="card-title">
                                                Syndique
                                            </h4>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <p class="card-text">

                                                    Nom et prenom : {{syndique.user.first_name}} {{syndique.user.last_name}}<br />
                                                    Email : {{syndique.user.email}}</br>
                                                    Derniere activité : {{syndique.user.last_login}}
                                                    
                                                </p>
                                                <div class="modal-info mr-1 mb-1 d-inline-block">
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-outline-info"
                                                        data-toggle="modal" data-target="#info{{syndique.id}}">
                                                        plus d'information
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade text-left" id="info{{syndique.id}}"
                                                        tabindex="-1" role="dialog" aria-labelledby="myModalLabel130"
                                                        aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                                            role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header bg-info white">
                                                                    <h5 class="modal-title" id="myModalLabel130">
                                                                        information sur l'utilisateur : {{syndique.user.first_name}}
                                                                    </h5>
                                                                    <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    {{syndique.nom}}
                                                                    <button type="button" class="btn btn-dark mr-1 mb-1 waves-effect waves-light">Donner le droit "accès gratuit"</button>
                                                                    <button type="button" class="btn btn-dark mr-1 mb-1 waves-effect waves-light">Retirer le droit "accès gratuit"</button>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-info"
                                                                        data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Activité </h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <ul class="activity-timeline timeline-left list-unstyled">
                                        <li>
                                            <div class="timeline-icon bg-primary">
                                                <i class="feather icon-plus font-medium-2 align-middle"></i>
                                            </div>
                                            <div class="timeline-info">
                                                <p class="font-weight-bold mb-0">Client Meeting</p>
                                                <span class="font-small-3">Bonbon macaroon jelly beans gummi bears jelly
                                                    lollipop apple</span>
                                            </div>
                                            <small class="text-muted">25 mins ago</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-warning">
                                                <i class="feather icon-alert-circle font-medium-2 align-middle"></i>
                                            </div>
                                            <div class="timeline-info">
                                                <p class="font-weight-bold mb-0">Email Newsletter</p>
                                                <span class="font-small-3">Cupcake gummi bears soufflé caramels
                                                    candy</span>
                                            </div>
                                            <small class="text-muted">15 days ago</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-danger">
                                                <i class="feather icon-check font-medium-2 align-middle"></i>
                                            </div>
                                            <div class="timeline-info">
                                                <p class="font-weight-bold mb-0">Plan Webinar</p>
                                                <span class="font-small-3">Candy ice cream cake. Halvah gummi
                                                    bears</span>
                                            </div>
                                            <small class="text-muted">20 days ago</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-success">
                                                <i class="feather icon-check font-medium-2 align-middle"></i>
                                            </div>
                                            <div class="timeline-info">
                                                <p class="font-weight-bold mb-0">Launch Website</p>
                                                <span class="font-small-3">Candy ice cream cake. </span>
                                            </div>
                                            <small class="text-muted">25 days ago</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-primary">
                                                <i class="feather icon-check font-medium-2 align-middle"></i>
                                            </div>
                                            <div class="timeline-info">
                                                <p class="font-weight-bold mb-0">Marketing</p>
                                                <span class="font-small-3">Candy ice cream. Halvah bears Cupcake gummi
                                                    bears.</span>
                                            </div>
                                            <small class="text-muted">28 days ago</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Dashboard Analytics end -->

        </div>
    </div>
</div>
{% endblock %}
<!-- END: Content-->



<!-- BEGIN: Vendor JS-->
{% block VendorJS %}
<script src="{% static 'app-assets/vendors/js/vendors.min.js' %}"></script>
{% endblock %}
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
{% block PageVendorJS %}
<script src="{% static 'app-assets/vendors/js/charts/apexcharts.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/extensions/tether.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/extensions/shepherd.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/extensions/dragula.min.js' %}"></script>
{% endblock %}
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
{% block ThemeJS %}
<script src="{% static 'app-assets/js/core/app-menu.js' %}"></script>
<script src="{% static 'app-assets/js/core/app.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/components.js' %}"></script>
{% endblock %}
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
{% block PageJS %}
<script src="{% static 'app-assets/js/scripts/pages/dashboard-analytics.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/extensions/drag-drop.js' %}"></script>
{% endblock %}


<!-- END: Page JS-->