{% extends "default/default.html" %}
{% load static %}

<!-- BEGIN: Vendor CSS-->
{% block VendorCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/vendors.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
<link rel="stylesheet" type="text/css"
    href="{% static 'app-assets/vendors/css/tables/datatable/select.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/pickers/pickadate/pickadate.css' %}">
{% endblock %}
<!-- END: Vendor CSS-->
{% block attBody %}
class="vertical-layout vertical-menu-modern 2-columns  navbar-floating footer-static  " data-open="click"
    data-menu="vertical-menu-modern" data-col="2-columns"
{% endblock %}
<!-- BEGIN: Theme CSS-->
{% block ThemeCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap-extended.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/colors.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/components.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/dark-layout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/semi-dark-layout.css' %}">
{% endblock %}
<!-- END: Theme CSS-->
<!-- BEGIN: Page CSS-->
{% block PageCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/menu/menu-types/vertical-menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/colors/palette-gradient.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/app-users.css' %}">
{% endblock %}
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
{% block CustomCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
{% endblock %}
<!-- END: Custom CSS-->


<!-- BEGIN: Main Menu-->
{% block MainMenu %}
{% include "residance/components/MainMenu.html" %}
{% endblock %}
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
{% block Content %}
<div class="app-content content">
    {% include "residance/components/Header.html" %}

    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- User Table -->
            <section>

                <!-- Begin Users Profile -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="ml-2">
                                <button type="button" class="btn btn-primary round" data-toggle="modal"
                                    data-target="#inlineForm">
                                    Add Sondage
                                </button>
                                <a href="{% url 'residance:viewSondage' id_batiment %}"><button type="button" class="btn btn-primary round"
                                    >
                                    Voir Sondage
                                </button></a>
                                <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel33" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                        role="document" style=" height: auto;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel33">Detail Sondage</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form action="{% url 'residance:newSondage' id_batiment %}" method="POST">
                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    {% for field in form  %}
                                                        <label>{{ field.label_tag }} </label>
                                                        <div class="form-group">
                                                            {{ field }}
                                                            {% if field.help_text %}
                                                            <small style="color: grey">{{ field.help_text }}</small>
                                                            {% endif %}
                                                            {% for error in field.errors %}
                                                            <p style="color: red">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                    {% endfor %}
                                                    <label>Reponse possible : </label>
                                                    <input type="text" class="form-control" id="basicInput" name="rep1" placeholder="Reponse 1" required>
                                                    <input type="text" class="form-control" id="basicInput" name="rep2" placeholder="Reponse 2" required>
                                                    <input type="text" class="form-control" id="basicInput" name="rep3" placeholder="Reponse 3 (optionnel)">
                                                    <input type="text" class="form-control" id="basicInput" name="rep4" placeholder="Reponse 4 (optionnel)">
                                                    
                                                </div>
                                                
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-dashboard">
                            <div class="table-responsive">
                                <table class="table zero-configuration" id="check-slct">
                                    <thead>
                                        <tr class="text-uppercase">
                                            <th></th>
                                            <th>Question</th>
                                            <th>Description</th>
                                            <th>Debut du Sondage</th>
                                            <th>Fin du sondage</th>
                                            <th>Etat</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for sondage in sondages %}
                                    
                                        <tr>
                                            <td></td>
                                            <td>{{sondage.question}}</td>
                                            <td>{{sondage.content}}</td>
                                            <td>{{sondage.create_at}}</td>
                                            <td>
                                            {{sondage.finSondage}}
                                            </td>
                                            {% if user.is_active %}
                                                <td class="text-success">Active</td>
                                            {% else %}
                                                <td class="text-danger">Suspended</td>
                                            {% endif %}
                                            <td>
                                                <a href="{% url 'residance:viewSondage' id_batiment %}"><i class="m-1 feather icon-edit-2"></i></a>
                                                <a href="#"><i class="feather icon-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Users Profile -->
            </section>
            <!-- User Table-->
        </div>
    </div>
</div>
{% endblock %}
<!-- END: Content-->

<!-- BEGIN: Footer-->
{% block Footer %}
<footer class="footer footer-static footer-light">
    <p class="clearfix blue-grey lighten-2 mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT
            &copy; 2019<a class="text-bold-800 grey darken-2"
                href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">Pixinvent,</a>All
            rights Reserved</span><span class="float-md-right d-none d-md-block">Hand-crafted & Made with<i
                class="feather icon-heart pink"></i></span>
        <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather icon-arrow-up"></i></button>
    </p>
</footer>
{% endblock %}
<!-- END: Footer-->


<!-- BEGIN: Vendor JS-->
{% block VendorJS %}
<script src="{% static 'app-assets/vendors/js/vendors.min.js' %}"></script>
{% endblock %}
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
{% block PageVendorJS %}
<script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/tables/datatable/dataTables.select.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pickers/pickadate/picker.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pickers/pickadate/picker.date.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pickers/pickadate/picker.time.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pickers/pickadate/legacy.js' %}"></script>
{% endblock %}
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
{% block ThemeJS %}
<script src="{% static 'app-assets/js/core/app-menu.js' %}"></script>
<script src="{% static 'app-assets/js/core/app.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/components.js' %}"></script>
{% endblock %}
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
{% block PageJS %}
<script src="{% static 'app-assets/js/scripts/datatables/user-datatable.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/pickers/dateTime/pick-a-datetime.js' %}"></script>
{% endblock %}
<!-- END: Page JS-->