<!-- start footer Area -->
		<footer class="footer-area section-gap">
			<div class="container">
				<div class="row">
					<div class="col-4">
						<div class="single-footer-widget">
							<h4>Information</h4>
							<p>
								Notre histoire
							</p>
							<p>
								Emplois
							</p>
							<h4>Produits</h4>
							<p>
								Fonctionnalités
							</p>
						</div>
					</div>
					<div class="col-8">
						<div class="single-footer-widget">
							<h4>Contactez-nous</h4>
							<div class="" id="mc_embed_signup">
								<form class="form-area contact-form text-right" id="myForm" action="mail.php"
									method="post">
									<div class="row">
										<div class="col-lg-6 form-group">
											<input name="nom" placeholder="Nom" onfocus="this.placeholder = ''"
												onblur="this.placeholder = 'Entrez votre nom'"
												class="common-input mb-20 form-control" required="" type="text">
										</div>
										<div class="col-lg-6 form-group">
											<input name="prénom" placeholder="Prénom" onfocus="this.placeholder = ''"
												onblur="this.placeholder = 'Entrez votre prénom'"
												class="common-input mb-20 form-control" required="" type="text">
										</div>
										<div class="col-lg-12 form-group">
											<input name="email" placeholder="Email profesionnel"
												pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
												onfocus="this.placeholder = ''"
												onblur="this.placeholder = 'Entrez votre email'"
												class="common-input mb-20 form-control" required="" type="email">
											<input name="tel" placeholder="Numero de téléphone"
												pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
												onfocus="this.placeholder = ''"
												onblur="this.placeholder = 'Entrez votre numéro de telephone'"
												class="common-input mb-20 form-control" required="" type="email">
										</div>
										<div class="col-lg-12">
											<div class="alert-msg" style="text-align: left;"></div>
											<button class="genric-btn primary" style="float: right;">Envoyez</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer Area -->