{% extends "default/default.html" %}
{% load static %}

<!-- BEGIN: Vendor CSS-->
{% block VendorCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/vendors.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
<link rel="stylesheet" type="text/css"
    href="{% static 'app-assets/vendors/css/tables/datatable/select.dataTables.min.css' %}">
{% endblock %}
<!-- END: Vendor CSS-->
{% block attBody %}
class="vertical-layout vertical-menu-modern 2-columns navbar-floating footer-static " data-open="click"
data-menu="vertical-menu-modern" data-col="2-columns"
{% endblock %}
<!-- BEGIN: Theme CSS-->
{% block ThemeCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap-extended.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/colors-manager.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/components-manager.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/dark-layout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/semi-dark-layout.css' %}">
{% endblock %}
<!-- END: Theme CSS-->
<!-- BEGIN: Page CSS-->
{% block PageCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/menu/menu-types/vertical-menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/colors/palette-gradient.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/app-users.css' %}">
{% endblock %}
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
{% block CustomCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
{% endblock %}
<!-- END: Custom CSS-->


<!-- BEGIN: Main Menu-->
{% block MainMenu %}
{% include "manager/components/MainMenu.html" %}
{% endblock %}
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
{% block Content %}
<div class="app-content content">
    {% include "manager/components/Header.html" %}

    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- User Table -->
            <section>
                <!-- Begin Users Profile -->
                <div class="card">
                    <div class="card-body">
                        <div class="card-dashboard">
                            <div class="table-responsive">
                                <table class="table zero-configuration" id="check-slct">
                                    <thead>
                                        <tr class="text-uppercase">
                                            <th></th>
                                            <th>id</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Numero de téléphone</th>
                                            <th>Verifier</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}

                                        <tr>
                                            <td></td>
                                            <td><small class="d-block pl-4">#{{user.id}}</small></td>
                                            <td>

                                                <span><b>{{user.nom}}</span>

                                            </td>
                                            <td>{{user.prenom}}</td>
                                            <td>{{user.email}}</td>
                                            <td>
                                                {% if user.typeClient == "SY" %}

                                                <div class="w-100 badge badge-success">Syndique</div>
                                                {% elif user.typeClient == "MA" %}
                                                <div class="w-100 badge badge-primary">Manager</div>
                                                {% elif user.typeClient == "CM" %}
                                                <div class="w-100 badge badge-danger">Commercial</div>
                                                {% elif user.typeClient == "HP" %}
                                                <div class="w-100 badge badge-warning">Habitant</div>
                                                {% else %}
                                                <div class="w-100 badge badge-success">Inco</div>
                                                {% endif %}

                                            </td>
                                            <td>
                                                {{user.numero}}

                                            </td>
                                            <td>
                                                {% if user.etat %}
                                                <i class="feather icon-check">
                                                    {% else %}
                                                    <i class="feather icon-x"></i>
                                                    {% endif %}

                                            </td>
                                            <td>
                                            
                                                <a href="{% url 'manager:viewNewAcc' user.id %}"><button type="button" class="btn bg-gradient-success mr-1 mb-1 waves-effect waves-light">Valider</button></a>
                                                <a href="#"><button type="button" class="btn bg-gradient-dark mr-1 mb-1 waves-effect waves-light">Refuser</button></a>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Users Profile -->
            </section>
            <!-- User Table-->
        </div>
    </div>
</div>
{% endblock %}
<!-- END: Content-->

<!-- BEGIN: Footer-->
{% block Footer %}
<footer class="footer footer-static footer-light">
    <p class="clearfix blue-grey lighten-2 mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT
            &copy; 2019<a class="text-bold-800 grey darken-2"
                href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">Pixinvent,</a>All
            rights Reserved</span><span class="float-md-right d-none d-md-block">Hand-crafted & Made with<i
                class="feather icon-heart pink"></i></span>
        <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather icon-arrow-up"></i></button>
    </p>
</footer>
{% endblock %}
<!-- END: Footer-->


<!-- BEGIN: Vendor JS-->
{% block VendorJS %}
<script src="{% static 'app-assets/vendors/js/vendors.min.js' %}"></script>
{% endblock %}
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
{% block PageVendorJS %}
<script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/tables/datatable/dataTables.select.min.js' %}"></script>
{% endblock %}
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
{% block ThemeJS %}
<script src="{% static 'app-assets/js/core/app-menu.js' %}"></script>
<script src="{% static 'app-assets/js/core/app.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/components.js' %}"></script>
{% endblock %}
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
{% block PageJS %}
<script src="{% static 'app-assets/js/scripts/datatables/user-datatable.js' %}"></script>
{% endblock %}
<!-- END: Page JS-->