{% extends "registration/default/1column.html" %}
{% block Content %}
<div class="content-body">
    <!-- Description -->
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Description</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <div class="card-text">
                    <p>Bonjour Mr <strong>{{info.firstName|upper}}</strong></p>
                </div>
            </div>
        </div>
    </div>
    <!--/ Description -->

    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Enregistrement des informations personnels</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form" method="POST" action="{% url 'accounts:newHabitant' info.id bat.id app.id%}">
                                <div class="form-body">
                                    <div class="row">
                                        {% csrf_token %}
                                        {% for field in form  %}
                                        <div class="col-md-6 col-12">
                                            <div class="form-label-group">
                                                {{ field }}
                                                {{ field.label_tag }}
                                                {% if field.help_text %}
                                                <small style="color: grey">{{ field.help_text }}</small>
                                                {% endif %}
                                                {% for error in field.errors %}
                                                <p style="color: red">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                            <li class="{{ message.tags }}">{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary mr-1 mb-1">Enregistrer</button>
                                            <button type="reset"
                                                class="btn btn-outline-warning mr-1 mb-1">Effacer</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}