{% extends "default/default.html" %}


<!-- BEGIN: Vendor CSS-->
{% block VendorCSS %}

{% endblock %}
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
{% block ThemeCSS %}
{% endblock %}
<!-- END: Theme CSS-->
<!-- BEGIN: Page CSS-->
{% block PageCSS %}
{% endblock %}
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
{% block CustomCSS %}
{% endblock %}
<!-- END: Custom CSS-->


<!-- BEGIN: Main Menu-->
{% block MainMenu %}
{% endblock %}
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
{% block Content %}
{% endblock %}
<!-- END: Content-->

<!-- BEGIN: Footer-->
{% block Footer %}
{% endblock %}
<!-- END: Footer-->


<!-- BEGIN: Vendor JS-->
{% block VendorJS %}
{% endblock %}
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
{% block PageVendorJS %}
{% endblock %}
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
{% block ThemeJS %}
{% endblock %}
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
{% block PageJS %}
{% endblock %}
<!-- END: Page JS-->