{% load static %}
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="{% url 'commercial:home' %}">
                    <div>
                        <img src="{% static 'app-assets/images/logo/vuesax-logo.png' %}"
                            alt="Grapefruit slice atop a pile of other slices">
                    </div>
                    <h2 class="brand-text mb-0">Syndic</h2>
                </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                        class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i
                        class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary"
                        data-ticon="icon-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="{% if "home" in request.get_full_path  %}
                active
            {% endif %} nav-item"><a href="{% url 'commercial:home' %}"><i class="feather icon-home"></i><span
                        class="menu-title" data-i18n="Dashboard">Dashboard</span>

            </li>
            <li class="{% if "email" in request.get_full_path  %}
                active
            {% endif %} nav-item"><a href="{% url 'commercial:email' %}"><i class="feather icon-mail"></i><span
                        class="menu-title" data-i18n="Email">calendrier</span></a>
            </li>
            <li class="{% if "newClient" in request.get_full_path  %}
                active
            {% endif %} nav-item"><a href="{% url 'commercial:newClient' %}"><i class="feather icon-message-square"></i><span
                        class="menu-title" data-i18n="Chat">Gestion Client</span></a>
            </li>
            <li class="{% if "email" in request.get_full_path  %}
                active
            {% endif %} nav-item"><a href="{% url 'commercial:email' %}"><i class="feather icon-check-square"></i><span
                        class="menu-title" data-i18n="Todo">Messagerie</span></a>
            </li>
            <li class=" nav-item"><a href="{% url 'commercial:calendrier' %}"><i class="feather icon-calendar"></i><span
                        class="menu-title" data-i18n="Calender">Facturation</span></a>
            </li>
            <li class=" nav-item"><a href="{% url 'commercial:calendrier' %}"><i class="feather icon-calendar"></i><span
                        class="menu-title" data-i18n="Calender">Liste Contact</span></a>
            </li>
            {% comment %} <li class=" nav-item"><a href="#"><i class="feather icon-list"></i><span class="menu-title"
                        data-i18n="Data List">New Client</span><span
                        class="badge badge badge-primary badge-pill float-right mr-2">New</span></a>
                <ul class="menu-content">
                    <li><a href="{% url 'commercial:newClient' %}"><i class="feather icon-circle"></i><span
                                class="menu-item" data-i18n="List View">Ajout Client</span></a>
                    </li>
                </ul>
            </li> {% endcomment %}
        </ul>
    </div>
</div>