{% load static %}
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand"
                    href="../../../html/ltr/vertical-menu-template/index.html">
                    <div>
                        <img src="{% static 'app-assets/images/logo/vuesax-logo.png' %}"
                            alt="Grapefruit slice atop a pile of other slices">
                    </div>
                    <h2 class="brand-text mb-0">Syndic</h2>
                </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                        class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i
                        class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary"
                        data-ticon="icon-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="{% if request.get_full_path == "/syndique/home" %}
                active
            {% endif %} nav-item"><a href="{% url 'syndique:home' %}"><i class="feather icon-home"></i><span
                        class="menu-title" data-i18n="Dashboard">Acceuil</span></a>
            </li>
            </li>
            <li class="{% if request.get_full_path == "/syndique/calendrier" %}
                active
            {% endif %} nav-item"><a href="{% url 'syndique:calendrier' %}"><i class="feather icon-mail"></i><span
                        class="menu-title" data-i18n="Email">Calendrier</span></a>
            </li>
            <li class="{% if request.get_full_path == "/syndique/email" %}
                active
            {% endif %} nav-item"><a href="{% url 'syndique:email' %}"><i class="feather icon-message-square"></i><span
                        class="menu-title" data-i18n="Chat">Messagerie</span></a>
            </li>
            <li class="{% if request.get_full_path == "/syndique/todo" %}
                active
            {% endif %} nav-item"><a href="{% url 'syndique:todo' %}"><i class="feather icon-check-square"></i><span
                        class="menu-title" data-i18n="Todo">Assemblees</span></a>
            </li>
            {% comment %} <li class="{% if request.get_full_path == "/syndique/Sondage" %}
                active
            {% endif %} nav-item"><a href="{% url 'syndique:Sondage' %}"><i class="feather icon-calendar"></i><span
                        class="menu-title" data-i18n="Calender">Sondages</span></a>
            </li> {% endcomment %}
            <li class="{% if request.get_full_path == "/syndique/viewResidance" %}
                active
            {% endif %} nav-item"><a href="{% url 'syndique:viewResidance' %}"><i class="feather icon-calendar"></i><span
                        class="menu-title" data-i18n="Calender">Residences</span></a>
            </li>
            <li class="{% if request.get_full_path == "/syndique/Paiement" %}
                active
            {% endif %} nav-item"><a href="{% url 'syndique:Paiement' %}"><i class="feather icon-calendar"></i><span
                        class="menu-title" data-i18n="Calender">Paiement</span></a>
            </li>
            <li class="{% if request.get_full_path == "/syndique/usagers" %}
                active
            {% endif %} nav-item"><a href="{% url 'syndique:usagers' %}"><i class="feather icon-calendar"></i><span
                        class="menu-title" data-i18n="Calender">Usagers</span></a>
            </li>

        </ul>
    </div>
</div>